<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Flask-List-Template</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<h1> Colors List :</h1>
	<h3 style = "color : {{colors[0]}}; background-color: {{background_colors[0]}}">{{colors[0]}}</h3>
	<h3 style = "color : {{colors[1]}}; background-color: {{background_colors[1]}}">{{colors[1]}}</h3>
	<h3 style = "color : {{colors[2]}}; background-color: {{background_colors[2]}}">{{colors[2]}}</h3>
</body>
</html>